*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;;
}

body {
  color: black;
}

/* Font */
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');





/*Detail page*/

.hero {
  background: bottom / cover;
  background-repeat: no-repeat;
}

.navbar.is-primary {
  background-color: black;
}

.hero.is-dark .tabs.is-boxed a, .hero.is-dark .tabs.is-toggle a {
  color: #ffffff;
  background: #202323;
}

.hero.is-dark .tabs.is-boxed a:hover, .hero.is-dark .tabs.is-toggle a:hover {
  color: #fff;
  background: rgb(14, 16, 16);
}

.button.is-primary {
  background-color: #d10031;
}

.navbar.is-primary .navbar-end>a.navbar-item.is-active {
  background-color: #d10031;
}

.hero-body >.container {
  background-color: rgba(12, 12, 12, 0.82);
  padding: 34px;
  border-radius: 10px;
}

.description {
  font-size: 18px;
  line-height: 1.4;
}
.hero.is-medium .hero-body {
  padding-bottom: 5rem;
  padding-top: 5rem;
}


.carousel-content {
  display: none;
}

#schedule {
display: block;
}

.carousel-inner {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.carousel-inner::-webkit-scrollbar {
  display: none;
}




/*Form*/

form {
  width: 50%;
  margin: auto;
}

form div {
  border-radius: 5px;
  background-color: beige;
  padding: 20px;
}

form .fname, .lname, .email, .phone {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

form input[type=submit] {
  width: 100%;
  background-color: #1e5d20;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form .error {
  color: red;
  display: none;
}

form  input[type=submit]:hover {
  background-color: #3a7b3d;
}



/*Footer*/
.footer {
  padding: 1rem 1.5rem 3rem;
}
